# Exponential Smoothing

## Load toy dataset

In [1]:
import pandas as pd

data_df = pd.read_excel('VMI1984_Example.xlsx', header=3)
data_df

,t,x(t),a^(t),b^(t),"x^(t,t+1)",e(t),e(t)^2,MSE
January,0,28,28.000000,1.350000,29.350000,NaN,NaN,4.200000
February,1,27,28.762500,1.291250,30.053750,-2.350000,5.522500,4.266125
March,2,30,30.040313,1.289906,31.330219,-0.053750,0.002889,4.052963
April,3,34,31.997664,1.356651,33.354315,2.669781,7.127732,4.206702
May,4,32,33.015736,1.322793,34.338529,-1.354315,1.834169,4.088075
June,5,33,34.003897,1.289330,35.293226,-1.338529,1.791660,3.973254
July,6,32,34.469920,1.206999,35.676919,-3.293226,10.845341,4.316859
August,7,36,35.757689,1.215076,36.972765,0.323081,0.104381,4.106235
September,8,33,35.979574,1.115757,37.095331,-3.972765,15.782863,4.690066
October,9,36,36.821498,1.088374,37.909872,-1.095331,1.199750,4.515550

## Simple Exponential Smoothing (level)

$\displaystyle\hat{x}_{t,t+1}=\alpha x_t+(1-\alpha)\hat{x}_{t-1,t}$ <br>
only smoothing param: $\alpha$

In [ ]:
# initialized with first value in series, no scoring

In [2]:
series = data_df['x(t)']

from exponential_smoothing import exponential_smoothing

exponential_smoothing(series, 0.1)

[28,
 27.9,
 28.11,
 28.698999999999998,
 29.0291,
 29.426190000000002,
 29.683571,
 30.315213900000003,
 30.583692510000006,
 31.12532325900001]

In [3]:
pretrain = series[0:5] # instead of 28, this prediction starts with 30.2
train = series
test = series[5:10]

In [4]:
from SES_class import SimpleExponentialSmoothing
model = SimpleExponentialSmoothing()
model.fit_predict(pretrain, train, alpha=0.2, pred_n=5)

[31.251776000000003,
 31.401420800000004,
 32.321136640000006,
 32.45690931200001,
 33.165527449600006]

In [5]:
model.score(pretrain, train, test, alpha=0.2, pred_n=5)

2.2484573364314664

In [30]:
def exponential_smoothing(series, alpha):
    result = [series[0]] # first value is same as series
    for n in range(1, len(series)):
        result.append(alpha * series[n] + (1 - alpha) * result[n-1])
    return result

In [31]:
exponential_smoothing(series, 0.1)

[28,
 27.9,
 28.11,
 28.698999999999998,
 29.0291,
 29.426190000000002,
 29.683571,
 30.315213900000003,
 30.583692510000006,
 31.12532325900001]

In [32]:
def exponential_smoothing(series, alpha):
    result = [series[0]] # first value is same as series
    for i, item in enumerate(train):
        result.append(alpha * series[i] + (1 - alpha) * result[i-1])
    return result

In [33]:
exponential_smoothing(series, 0.1)

[28,
 28.0,
 27.9,
 28.2,
 28.509999999999998,
 28.58,
 28.959,
 28.921999999999997,
 29.6631,
 29.3298,
 30.29679]

In [40]:
result = [series[0]] # first value is same as series
alpha = 0.1
for i, item in enumerate(train):
    result.append(alpha * series[i+1] + (1 - alpha) * result[i])
    print(i, item, result)

0 28 [28, 27.9]
1 27 [28, 27.9, 28.11]
2 30 [28, 27.9, 28.11, 28.698999999999998]
3 34 [28, 27.9, 28.11, 28.698999999999998, 29.0291]
4 32 [28, 27.9, 28.11, 28.698999999999998, 29.0291, 29.426190000000002]
5 33 [28, 27.9, 28.11, 28.698999999999998, 29.0291, 29.426190000000002, 29.683571]
6 32 [28, 27.9, 28.11, 28.698999999999998, 29.0291, 29.426190000000002, 29.683571, 30.315213900000003]
7 36 [28, 27.9, 28.11, 28.698999999999998, 29.0291, 29.426190000000002, 29.683571, 30.315213900000003, 30.583692510000006]
8 33 [28, 27.9, 28.11, 28.698999999999998, 29.0291, 29.426190000000002, 29.683571, 30.315213900000003, 30.583692510000006, 31.12532325900001]

IndexError: index out of bounds

In [38]:
result = [series[0]] # first value is same as series
alpha = 0.1
for n in range(1, len(series)):
    result.append(alpha * series[n] + (1 - alpha) * result[n-1])
    print(n, result)

1 [28, 27.9]
2 [28, 27.9, 28.11]
3 [28, 27.9, 28.11, 28.698999999999998]
4 [28, 27.9, 28.11, 28.698999999999998, 29.0291]
5 [28, 27.9, 28.11, 28.698999999999998, 29.0291, 29.426190000000002]
6 [28, 27.9, 28.11, 28.698999999999998, 29.0291, 29.426190000000002, 29.683571]
7 [28, 27.9, 28.11, 28.698999999999998, 29.0291, 29.426190000000002, 29.683571, 30.315213900000003]
8 [28, 27.9, 28.11, 28.698999999999998, 29.0291, 29.426190000000002, 29.683571, 30.315213900000003, 30.583692510000006]
9 [28, 27.9, 28.11, 28.698999999999998, 29.0291, 29.426190000000002, 29.683571, 30.315213900000003, 30.583692510000006, 31.12532325900001]

## Holt (level + trend)

$\displaystyle\hat{x}_{t,t+\tau}=\hat{a}_t+\tau\hat{b}_t$ <br>
<br>
$\displaystyle\hat{a}_t=\alpha x_t+(1-\alpha)(\hat{a}_{t-1}+\hat{b}_{t-1})$ <br>
<br>
$\displaystyle\hat{b}_t=\beta (\hat{a}_t - \hat{a}_{t-1}) + (1-\beta) \hat{b}_{t-1}$ <br>
<br>
smoothing params: $\alpha$ (level), $\beta$ (trend)

In [ ]:
# initialized with first value in series (level), and difference between second and first value
# in the series ()

In [7]:
series = data_df['x(t)']

from exponential_smoothing import Holt_smoothing

Holt_smoothing(series, 0.1, 0.01)

[28,
 26.0,
 25.404000000000003,
 25.276196000000002,
 24.967896204,
 24.798458491396,
 24.553166091561003,
 24.74384976561795,
 24.62372122250358,
 24.826981812478145,
 23.89261452470307]

In [29]:
from sklearn.linear_model import LinearRegression
X=data_df['t'].values.reshape(-1, 1)
y=data_df['x(t)'].values.reshape(-1, 1)

lin_model = LinearRegression()
lin_model.fit(X,y)

level = lin_model.intercept_
trend = lin_model.coef_
print(level)
print(trend)
t = 1
a_hat_zero = float(t* trend + level)
a_hat_zero

[28.30909091]
[[0.84242424]]

29.151515151515156

In [42]:
X.shape
y.shape
X=data_df.index
X

Index(['January', 'February', 'March', 'April', 'May', 'June', 'July',
       'August', 'September', 'October'],
      dtype='object')

## Double Exponential Smoothing (level + season)

$\displaystyle\hat{x}_{t,t+\tau}=\hat{a}_t+\tau\hat{F}_{t+\tau P}$ <br>
<br>
$\displaystyle\hat{a}_t=\alpha (\frac{x_t}{\hat{F}_{t-P}}) + (1-\alpha)\hat{a}_{t-1}$ <br>
<br>
$\displaystyle\hat{F}_t=\gamma (\frac{x_t}{\hat{a}_t}) + (1-\gamma) \hat{F}_{t-P}$ <br>
<br>
smoothing params: $\alpha$ (level), $\gamma$ (season)

In [ ]:
# initialize

In [ ]:
# NO CODE

## Holt-Winters (level + trend + season)

In [ ]:
# FINISH FORMULA!!!

$\displaystyle\hat{x}_{t,t+\tau}=\hat{a}_t+\tau\hat{F}_{t+\tau P}$ <br>
<br>
$\displaystyle\hat{a}_t=\alpha (\frac{x_t}{\hat{F}_{t-P}}) + (1-\alpha)\hat{a}_{t-1}$ <br>
<br>
$\displaystyle\hat{F}_t=\gamma (\frac{x_t}{\hat{a}_t}) + (1-\gamma) \hat{F}_{t-P}$ <br>
<br>
smoothing params: $\alpha$ (level), $\gamma$ (season)

In [ ]:
# initialize