In [14]:
import pandas as pd

bom = pd.read_excel('BOM_11_2017.xlsx')
bom.head(20)

   Finished Part  Pos Component Part  Qty  ME      Formel  Faktor  ME brutto
0           1014   10        7379/10    1  pc  No Formula     1.0          1
1           1014   20           4034    1  pc  No Formula     1.0          1
2           1014   30           3086    1  pc  No Formula     1.0          1
3           1014   40           4002    1  pc  No Formula     1.0          1
4           1014   50        4066/09    1  pc  No Formula     1.0          1
5           1014   60           4072    1  pc  No Formula     1.0          1
6           1014   70           4145    1  pc  No Formula     1.0          1
7           1014   80           4241    1  pc  No Formula     1.0          1
8           1014   90        4430/25    1  pc  No Formula     1.0          1
9           1014  100        4515/32    1  pc  No Formula     1.0          1
10          1014  110        4582/26    1  pc  No Formula     1.0          1
11          1014  120        4606/14    1  pc  No Formula     1.0          1
12          1014  130        4410/16    1  pc  No Formula     1.0          1
13          1014  140           4473    1  pc  No Formula     1.0          1
14          1014  160      03137707b    1  pc  No Formula     1.0          1
15          1515   10         8845/7    1  pc  No Formula     1.0          1
16          1515   20        4461/23    1  pc  No Formula     1.0          1
17          1515   30       2263-100    1  pc  No Formula     1.0          1
18          1515   40    03159827MBX    1  pc  No Formula     1.0          1
19          1515   50  03149800MIN-1    1  pc  No Formula     1.0          1

In [15]:
bom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4269 entries, 0 to 4268
Data columns (total 8 columns):
Finished Part     4269 non-null object
Pos               4269 non-null int64
Component Part    4269 non-null object
Qty               4269 non-null int64
ME                4269 non-null object
Formel            4269 non-null object
Faktor            4269 non-null float64
ME brutto         4269 non-null int64
dtypes: float64(1), int64(3), object(4)
memory usage: 266.9+ KB

In [7]:
inventory = pd.read_excel('Inventory_Nov_2017.xlsx')
inventory.head(20)

,Part Number,arch,Description,Unit Price,Total Value,On-Hand,Sichbest,MeldBest,BestME,LO1,...,TA,WorkGroup,12M,rQuater,LO,Q5,Q4,Q3,Q2,Q1
0,03102751CC,NaN,Clear Cover for 2751,0.725,145.02,560.0,0.0,3000.0,NaN,0.0,...,10.0,PACKAG,nein,,0|200,,,,,
1,03119990-1,NaN,Small wall Display,0.000,0,2.0,0.0,5.0,NaN,0.0,...,10.0,PACKAG,nein,NaN,0|200,NaN,NaN,NaN,NaN,NaN
2,03119990-3,NaN,Floor Display,0.000,0,2.0,0.0,0.0,NaN,0.0,...,10.0,PACKAG,nein,NaN,0|200,NaN,NaN,NaN,NaN,NaN
3,03138625FC,NaN,Folded Carton for 8625,1.570,37.68,24.0,0.0,300.0,NaN,0.0,...,10.0,PACKAG,nein,NaN,0|200,NaN,NaN,NaN,NaN,NaN
4,0314FT365-4,NaN,Flock Tray Chai Dao,0.380,60.78,160.0,0.0,1500.0,NaN,0.0,...,10.0,PACKAG,nein,NaN,0|200,NaN,NaN,NaN,NaN,NaN
5,0314FT365-5,NaN,Flock Tray Epicure 365x80,0.347,13.86,40.0,0.0,1000.0,NaN,0.0,...,10.0,PACKAG,nein,NaN,0|200,NaN,NaN,NaN,NaN,NaN
6,04000335,NaN,Klarsichtverpackung Gr. 5,1.110,1309.8,1180.0,0.0,0.0,NaN,0.0,...,10.0,INTCOM,nein,NaN,0|200,NaN,NaN,NaN,NaN,NaN
7,04149602,NaN,Einsatz schwarz Gr. 6,0.863,503.76,584.0,0.0,0.0,NaN,0.0,...,10.0,INTCOM,nein,NaN,0|200,NaN,NaN,NaN,NaN,NaN
8,04164010/07,NaN,Knife Guard,0.111,11.14,100.0,0.0,0.0,NaN,0.0,...,10.0,INTCOM,nein,NaN,0|200,NaN,NaN,NaN,NaN,NaN
9,04164022/08,NaN,Knife Guard,0.111,55.7,500.0,0.0,0.0,NaN,0.0,...,10.0,INTCOM,nein,NaN,0|200,NaN,NaN,NaN,NaN,NaN
10,04164030/07,NaN,Knife Guard,0.111,22.28,200.0,0.0,0.0,NaN,0.0,...,10.0,INTCOM,nein,NaN,0|200,NaN,NaN,NaN,NaN,NaN
11,04164040/12,NaN,Knife Guard,0.111,11.14,100.0,0.0,0.0,NaN,0.0,...,10.0,INTCOM,nein,NaN,0|200,NaN,NaN,NaN,NaN,NaN
12,04164048/12,NaN,Knife Guard,0.111,22.28,200.0,0.0,0.0,NaN,0.0,...,10.0,INTCOM,nein,NaN,0|200,NaN,NaN,NaN,NaN,NaN
13,04164052/10,NaN,Knife Guard,0.111,22.28,200.0,0.0,0.0,NaN,0.0,...,10.0,INTCOM,nein,NaN,0|200,NaN,NaN,NaN,NaN,NaN
14,04164062/07,NaN,Knife Guard,0.111,22.28,200.0,0.0,0.0,NaN,0.0,...,10.0,INTCOM,nein,NaN,0|200,NaN,NaN,NaN,NaN,NaN
15,04164086/09,NaN,Knife Guard,0.111,22.28,200.0,0.0,0.0,NaN,0.0,...,10.0,INTCOM,nein,NaN,0|200,NaN,NaN,NaN,NaN,NaN
16,04164086/12,NaN,Knife Guard,0.159,15.87,100.0,0.0,0.0,NaN,0.0,...,10.0,INTCOM,nein,NaN,0|200,NaN,NaN,NaN,NaN,NaN
17,04164096/12,NaN,Knife Guard,0.111,11.14,100.0,0.0,0.0,NaN,0.0,...,10.0,INTCOM,nein,NaN,0|200,NaN,NaN,NaN,NaN,NaN
18,04164105/14,NaN,Knife Guard,0.111,11.14,100.0,0.0,0.0,NaN,0.0,...,10.0,INTCOM,nein,NaN,0|200,NaN,NaN,NaN,NaN,NaN
19,04164109/14,NaN,Knife Guard,0.111,22.28,200.0,0.0,0.0,NaN,0.0,...,10.0,INTCOM,nein,NaN,0|200,NaN,NaN,NaN,NaN,NaN

In [16]:
inventory.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 196083 entries, 0 to 196082
Data columns (total 30 columns):
Part Number         196082 non-null object
arch                3198 non-null object
Description         196082 non-null object
Unit Price          196082 non-null float64
Total Value         196083 non-null object
On-Hand             196082 non-null float64
Sichbest            196082 non-null float64
MeldBest            196082 non-null float64
BestME              183230 non-null float64
LO1                 196082 non-null float64
BestStich           196082 non-null float64
TGrp                196082 non-null float64
Lagerplatz          11910 non-null object
Lagerplatz Stamm    117327 non-null object
Selection           37268 non-null object
Lagerort            195750 non-null object
PrdLn               196082 non-null object
Stichtag            196082 non-null datetime64[ns]
Month               196082 non-null float64
Year                196082 non-null float64
TA                  195930 non-null float64
WorkGroup           195930 non-null object
12M                 196082 non-null object
rQuater             52075 non-null object
LO                  195752 non-null object
Q5                  1 non-null object
Q4                  1 non-null object
Q3                  3487 non-null object
Q2                  13267 non-null object
Q1                  12795 non-null object
dtypes: datetime64[ns](1), float64(11), object(18)
memory usage: 44.9+ MB

In [9]:
sales = pd.read_excel('Sales and Inventory 2015-2017 V3.xlsx')
sales.head(20)

,$ Sales,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Invoiced Units,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34
0,Item Number,2017-01-01 00:00:00,2017-02-01 00:00:00,2017-03-01 00:00:00,2017-04-01 00:00:00,2017-05-01 00:00:00,2017-06-01 00:00:00,2017-07-01 00:00:00,2017-08-01 00:00:00,2017-09-01 00:00:00,...,2017-01,2017-02,2017-03,2017-04,2017-05,2017-06,2017-07,2017-08,2017-09,2017-10
1,9718-6,33412,31871.1,27194,140523,72746.6,69297.1,82138.2,120974,574685,...,217,209,175,210,1226,471,478,932,4672,9014
2,7417,114266,117165,275850,132779,55097,93104.8,65349.7,116130,555248,...,753,759,2030,523,602,563,354,761,3769,5268
3,4582-7/20,147635,34820,51391.8,41057.4,55279.4,42114.2,81817.3,82248.3,435367,...,2613,855,952,306,1276,721,1284,1412,7296,5546
4,9468,122946,42971.8,40666.6,64668.3,78652.4,75509,55037.8,42974.4,302881,...,3295,1303,1088,666,2786,2523,1269,1341,10017,13330
5,9312,97490.7,97672.1,97736.9,89093.9,97127.8,97215.5,99461.4,143758,87486.9,...,707,892,914,229,1285,801,805,1192,756,1774
6,9718,86500.5,90558.1,54638.9,85201.9,89508,60005.8,47096.1,83552.4,100194,...,546,451,453,306,757,397,288,582,662,921
7,8944-1,52475.1,95600.8,29689,78779,54563,50826.9,115804,69499.8,92989.8,...,821,1408,692,1142,1072,963,1623,1585,1650,2002
8,8347,50518.7,64521.2,99731.4,28712.1,42476.4,36587,56975.2,91715.5,214630,...,258,329,594,100,227,186,207,540,1205,724
9,9718-17,57600,57600,2560,71680,111360,38400,38400,139292,104294,...,450,450,20,200,1230,300,300,1060,840,580
10,1777,35556.4,66260.7,89636.5,82317.7,82548.6,40875.6,43846.8,94213.2,175392,...,539,1029,1453,674,1750,653,575,1484,2798,2259
11,9468-6,30243,10674,44475,0,0,13413.7,22771.2,19569,76497,...,850,300,1250,0,0,377,640,550,2150,15051
12,9740-1,37772.3,12345.6,10861.9,12048.1,12775,11335.5,33379.2,44167.1,217290,...,512,210,159,95,217,136,377,609,3365,3624
13,4596-7/20,62078.7,30577.3,42304.8,27361.8,30207.3,42627.3,42204.1,55546.2,163306,...,814,529,623,134,610,631,533,923,2351,3038
14,4066-07-09 00:00:00,63197.9,26147.8,43713.7,29780.7,24717.8,34550.2,42257,57155.9,188486,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,8901-1,0,24520,0,0,362615,0,0,197880,0,...,0,200,0,0,2199,0,0,1200,0,0
16,9731,53973.4,31752.1,56453.3,55472.3,79102.5,47175,68259.8,52804.9,69525,...,541,307,630,321,1058,492,607,620,719,795
17,8312,40087.7,32549.8,64071.8,92852.7,0,12459.3,51617.1,46277.4,97894.5,...,117,95,188,271,0,35,146,130,275,250
18,4183-7/20,26757.3,89433.7,76826.2,21500.2,27108.2,25560.9,74242.3,33110.9,64723.2,...,495,1599,1398,279,580,433,1296,589,1115,1551
19,4193-7/13,32627,23590.3,86659.2,50659.1,12836.4,25077.8,72568,57793.9,60449.8,...,1127,663,2632,1507,543,744,1939,1932,1687,1900

In [17]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1341 entries, 0 to 1340
Data columns (total 35 columns):
$ Sales           1340 non-null object
Unnamed: 1        1338 non-null object
Unnamed: 2        1338 non-null object
Unnamed: 3        1338 non-null object
Unnamed: 4        1338 non-null object
Unnamed: 5        1338 non-null object
Unnamed: 6        1338 non-null object
Unnamed: 7        1338 non-null object
Unnamed: 8        1338 non-null object
Unnamed: 9        1338 non-null object
Unnamed: 10       1338 non-null object
Unnamed: 11       1338 non-null object
Unnamed: 12       1338 non-null object
Inventory         1338 non-null object
Unnamed: 14       1110 non-null object
Unnamed: 15       1110 non-null object
Unnamed: 16       1173 non-null object
Unnamed: 17       1173 non-null object
Unnamed: 18       1173 non-null object
Unnamed: 19       1173 non-null object
Unnamed: 20       1173 non-null object
Unnamed: 21       1173 non-null object
Unnamed: 22       1173 non-null object
Unnamed: 23       1173 non-null object
Unnamed: 24       0 non-null float64
Invoiced Units    1185 non-null object
Unnamed: 26       1185 non-null object
Unnamed: 27       1185 non-null object
Unnamed: 28       1185 non-null object
Unnamed: 29       1185 non-null object
Unnamed: 30       1185 non-null object
Unnamed: 31       1185 non-null object
Unnamed: 32       1185 non-null object
Unnamed: 33       1185 non-null object
Unnamed: 34       1185 non-null object
dtypes: float64(1), object(34)
memory usage: 366.8+ KB

In [11]:
monthly = pd.read_excel('Sales by part by month.xlsx')
monthly.head(20)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66,Unnamed: 67,Unnamed: 68,Unnamed: 69
0,Sum of Final Price,Column Labels,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Row Labels,2012-04,2012-05,2012-06,2012-07,2012-08,2012-09,2012-10,2012-11,2012-12,...,2017-03,2017-04,2017-05,2017-06,2017-07,2017-08,2017-09,2017-10,(blank),Grand Total
2,400000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,NaN,173.5
3,0300ST365-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4,0311HT265,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
5,0311HT320,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
6,03139731BT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
7,03139800MPK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
8,0313FC320,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
9,0313FC365,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
10,03149731CC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
11,03149731FT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
12,03149800MIN-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,0
13,0314FT320-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
14,0314FT365-2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
15,03159800-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,0
16,03159800-8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,0
17,03159800MBX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,0
18,1814/23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
19,2006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [18]:
monthly.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128786 entries, 0 to 128785
Data columns (total 70 columns):
Unnamed: 0     128786 non-null object
Unnamed: 1     5714 non-null object
Unnamed: 2     5773 non-null object
Unnamed: 3     6206 non-null object
Unnamed: 4     6876 non-null object
Unnamed: 5     7399 non-null object
Unnamed: 6     8822 non-null object
Unnamed: 7     9056 non-null object
Unnamed: 8     8419 non-null object
Unnamed: 9     7824 non-null object
Unnamed: 10    8266 non-null object
Unnamed: 11    6946 non-null object
Unnamed: 12    7799 non-null object
Unnamed: 13    6492 non-null object
Unnamed: 14    6887 non-null object
Unnamed: 15    6564 non-null object
Unnamed: 16    7171 non-null object
Unnamed: 17    7976 non-null object
Unnamed: 18    9282 non-null object
Unnamed: 19    11214 non-null object
Unnamed: 20    8021 non-null object
Unnamed: 21    9108 non-null object
Unnamed: 22    7754 non-null object
Unnamed: 23    6974 non-null object
Unnamed: 24    6405 non-null object
Unnamed: 25    6389 non-null object
Unnamed: 26    7169 non-null object
Unnamed: 27    6993 non-null object
Unnamed: 28    9612 non-null object
Unnamed: 29    8117 non-null object
Unnamed: 30    8566 non-null object
Unnamed: 31    11385 non-null object
Unnamed: 32    9773 non-null object
Unnamed: 33    10026 non-null object
Unnamed: 34    9075 non-null object
Unnamed: 35    7021 non-null object
Unnamed: 36    8942 non-null object
Unnamed: 37    6950 non-null object
Unnamed: 38    6515 non-null object
Unnamed: 39    7474 non-null object
Unnamed: 40    8274 non-null object
Unnamed: 41    8082 non-null object
Unnamed: 42    9299 non-null object
Unnamed: 43    10983 non-null object
Unnamed: 44    9367 non-null object
Unnamed: 45    9830 non-null object
Unnamed: 46    8645 non-null object
Unnamed: 47    7838 non-null object
Unnamed: 48    9168 non-null object
Unnamed: 49    7392 non-null object
Unnamed: 50    7513 non-null object
Unnamed: 51    5967 non-null object
Unnamed: 52    8242 non-null object
Unnamed: 53    8504 non-null object
Unnamed: 54    7662 non-null object
Unnamed: 55    11127 non-null object
Unnamed: 56    8851 non-null object
Unnamed: 57    9254 non-null object
Unnamed: 58    8778 non-null object
Unnamed: 59    6991 non-null object
Unnamed: 60    8493 non-null object
Unnamed: 61    5797 non-null object
Unnamed: 62    6929 non-null object
Unnamed: 63    7037 non-null object
Unnamed: 64    7840 non-null object
Unnamed: 65    8343 non-null object
Unnamed: 66    8442 non-null object
Unnamed: 67    9012 non-null object
Unnamed: 68    1 non-null object
Unnamed: 69    128783 non-null object
dtypes: object(70)
memory usage: 68.8+ MB

In [13]:
invoices = pd.read_excel('Sales Orders vs Invoices Ver 2.xlsx')
invoices.head(20)

,CRO Number,Line,Part,Part Description 1,Quantity,Unit Price,Final Price,Doc Date,Doc No.,Product Line,...,Weight,Val,EntDate,Shipping Date,Base Price,Order Number,Key,Sales Order Qty,Order Dlv Date,Order Dlv Date - Invoice Date
0,11031510.0,1.0,2267-5,17 Slot Bamboo Knife,1,0.0,0.0,2015-01-06,14034245,20202,...,4.8500,No,2015-01-06,2015-01-06,13.30,11031510.0,1103151012267-5,1.0,2015-01-08 00:00:00,2.0
1,11031590.0,1.0,4022,Gourmet 3'' Spear Po,1,0.0,0.0,2015-01-06,14034246,50201,...,0.0807,No,2015-01-06,2015-01-06,4.88,11031590.0,1103159014022,1.0,2015-01-08 00:00:00,2.0
2,11031535.0,1.0,4051,XXXSilverpoint II 4,1,0.0,0.0,2015-01-06,14034247,50901,...,0.0787,No,2015-01-06,2015-01-06,3.16,11031535.0,1103153514051,1.0,2015-01-08 00:00:00,2.0
3,11031600.0,1.0,4183,Classic 7'' Santoku,1,0.0,0.0,2015-01-06,14034248,50101,...,0.3968,No,2015-01-06,2015-01-06,35.86,11031600.0,1103160014183,1.0,2015-01-08 00:00:00,2.0
4,11031704.0,1.0,8777,Herb Shear BLISTER,1,0.0,0.0,2015-01-06,14034249,20301,...,0.5545,No,2015-01-06,2015-01-06,7.39,11031704.0,1103170418777,1.0,2015-01-08 00:00:00,2.0
5,11031742.0,1.0,5558-1,Black Come Apart Kit,1,0.0,0.0,2015-01-06,14034250,20301,...,0.3594,No,2015-01-06,2015-01-06,2.55,11031742.0,1103174215558-1,1.0,2015-01-09 00:00:00,3.0
6,11030099.0,1.0,4034,Gourmet 2 1/4'' Peel,1,0.0,0.0,2015-01-06,14034251,50201,...,0.0661,No,2015-01-06,2015-01-06,4.88,11030099.0,1103009914034,NaN,NaN,NaN
7,11031050.0,1.0,4596/20,Classic Ikon 8'' Coo,1,0.0,0.0,2015-01-07,14034471,51101,...,0.6263,No,2015-01-07,2015-01-07,40.83,11031050.0,1103105014596/20,NaN,NaN,NaN
8,11031828.0,1.0,2263,13 Slot Knife Block,1,0.0,0.0,2015-01-07,14034472,20202,...,5.4990,No,2015-01-07,2015-01-07,10.26,11031828.0,1103182812263,1.0,2015-01-09 00:00:00,2.0
9,11031857.0,1.0,2408,Wood Chest Box 8 pc,1,0.0,0.0,2015-01-07,14034473,20202,...,1.8220,No,2015-01-07,2015-01-07,5.81,11031857.0,1103185712408,1.0,2015-01-10 00:00:00,3.0
10,11031825.0,1.0,2513,Walnut Box 2 pc Carv,1,0.0,0.0,2015-01-07,14034474,20202,...,1.1200,No,2015-01-07,2015-01-07,7.33,11031825.0,1103182512513,1.0,2015-01-09 00:00:00,2.0
11,11031741.0,1.0,2514,Walnut Box for 2 pc,1,0.0,0.0,2015-01-07,14034475,20202,...,1.1200,No,2015-01-07,2015-01-07,7.36,11031741.0,1103174112514,1.0,2015-01-09 00:00:00,2.0
12,11025656.0,1.0,4030-7,Gourmet 2 3/4'' Trim,2,0.0,0.0,2015-01-07,14034476,50201,...,0.1653,No,2015-01-07,2015-01-07,5.51,11025656.0,1102565614030-7,NaN,NaN,NaN
13,11031040.0,1.0,4030-7,Gourmet 2 3/4'' Trim,1,0.0,0.0,2015-01-07,14034477,50201,...,0.1653,No,2015-01-07,2015-01-07,5.51,11031040.0,1103104014030-7,NaN,NaN,NaN
14,11031838.0,1.0,4602,Boning knife,1,0.0,0.0,2015-01-07,14034478,50101,...,0.3073,No,2015-01-07,2015-01-07,26.59,11031838.0,1103183814602,1.0,2015-01-09 00:00:00,2.0
15,11031792.0,1.0,5558-1,Black Come Apart Kit,1,0.0,0.0,2015-01-07,14034479,20301,...,0.3594,No,2015-01-07,2015-01-07,2.55,11031792.0,1103179215558-1,1.0,2015-01-09 00:00:00,2.0
16,11031795.0,1.0,5558-1,Black Come Apart Kit,1,0.0,0.0,2015-01-07,14034480,20301,...,0.3594,No,2015-01-07,2015-01-07,2.55,11031795.0,1103179515558-1,1.0,2015-01-09 00:00:00,2.0
17,11031827.0,1.0,5558-1,Black Come Apart Kit,1,0.0,0.0,2015-01-07,14034481,20301,...,0.3594,No,2015-01-07,2015-01-07,2.55,11031827.0,1103182715558-1,1.0,2015-01-09 00:00:00,2.0
18,11031826.0,1.0,2267-100,17 Slot Knife Block,1,0.0,0.0,2015-01-08,14034744,20202,...,5.7300,No,2015-01-08,2015-01-08,8.51,11031826.0,1103182612267-100,1.0,2015-01-09 00:00:00,1.0
19,11031900.0,1.0,4050,Gourmet 4 1/2'' Stea,2,0.0,0.0,2015-01-08,14034745,50201,...,0.1367,No,2015-01-08,2015-01-08,4.34,11031900.0,1103190014050,2.0,2015-01-10 00:00:00,2.0

In [19]:
invoices.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 462115 entries, 0 to 462114
Data columns (total 22 columns):
CRO Number                       460061 non-null float64
Line                             462115 non-null float64
Part                             462115 non-null object
Part Description 1               462115 non-null object
Quantity                         462115 non-null int64
Unit Price                       462115 non-null float64
Final Price                      462115 non-null float64
Doc Date                         462115 non-null datetime64[ns]
Doc No.                          462115 non-null int64
Product Line                     462115 non-null int64
Customer                         462115 non-null int64
ShippingType                     462115 non-null int64
Weight                           462115 non-null float64
Val                              462115 non-null object
EntDate                          462115 non-null datetime64[ns]
Shipping Date                    459647 non-null datetime64[ns]
Base Price                       462115 non-null float64
Order Number                     460061 non-null float64
Key                              462115 non-null object
Sales Order Qty                  457897 non-null float64
Order Dlv Date                   457897 non-null object
Order Dlv Date - Invoice Date    457897 non-null float64
dtypes: datetime64[ns](3), float64(9), int64(5), object(5)
memory usage: 77.6+ MB